@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif !important;
    overflow: hidden;
    font-size:18px;
 
}

.pop_alert_success {
    width: 20rem;
    height: 50px;
    background-color: rgb(211, 250, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 5px;
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 120px;
    animation: statusupdate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.pop_alert_error {
    width: 20rem;
    height: 50px;
    background-color: rgb(248, 172, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 5px;
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    top: 120px;
    animation: statusupdate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes statusupdate {
    0% {
        opacity: 0;
        right: -100px;
    }
    25%{
        opacity: 1;
        right: 2vw;
    }
    50% {
        opacity: 1;
        right: 2vw;
        
    }
    75%{
        opacity: 1;
        right: 4vw;
    }
    100%{
        opacity: 0;
        right: -100px;
    }
}
.main_header {
	border-top: 5px solid orange;
	width: 100vw;
}

.gate_entry_header {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.gate_entry_header_img {
	width: 50%;
	height: 100px;
}

.gate_entry_login_details {
	width: 50%;
	text-align: end;
	padding-right: 50px;
	text-wrap: wrap;
	height: 100px;
	padding-top: 25px;
	/* font-size: 0.8rem; */
}

.welcome_info {
	font-size: 1.2rem;
}

#owner_info {
	color: rgb(215, 140, 2);
}

.navbar {
	height: 75vh;
	position: sticky;
	top: 4vh;
	border-radius: 8px;
}

.collapse {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	/* background-color: aquamarine; */
	width: 80%;
}

.logout {
	width: 100%;
}

.collapse .logout a {
	padding: 5px;
	padding-left: 15px;
	width: 100%;
	/* background-color: orange; */
	border-radius: 8px;
	font-weight: bold;
}

.navbar-nav {
	width: 100%;
	margin-top: 20px;
	height: 55%;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	gap: 5px;
}

.navbar-nav li {
	width: 100%;
	padding-left: 10px;
	border-radius: 15px 2px 15px 2px;
}

.add_member_header {
	color: rgb(192, 127, 5);
}

.navbar-nav li a {
	border-radius: 15px;
	padding-left: 10px;
}

.nav_item_add_member {
	background-color: rgba(250, 187, 69, 0.979);
}

.add_member {
	border: 2px solid gray;
}

.navbar-nav .nav-item:hover {
	background-color: rgb(226, 225, 225);
	/* Change to desired background color */
}

.logout:hover {
	color: rgb(190, 125, 3);
	border-radius: 8px;
	background-color: rgb(226, 225, 225);
	/* Change to desired background color */
}

.navbar-nav .nav-link:hover {
	color: rgb(190, 125, 3); /* Change to desired text color */
}

.add_member_form {
	/* Apply border to form */
	border-radius: 10px; /* Add border radius */
	padding: 20px; /* Add some padding */
}

.add_member_header {
	background-color: rgba(56, 93, 108, 0.87);
	/* Change header background color */
	color: #fff; /* Change header text color */
	padding: 10px; /* Add padding to header */
	border-radius: 5px; /* Add border radius */
}

.border_top_add_member {
	border-top: 1px solid rgba(128, 128, 128, 0.628) ;
}
 
 

body {
	font-family: 'Times New Roman', Times, serif !important;
	font-size:1.2rem !important;
}

.main_header {
	border-top: 5px solid orange;
	width: 100vw;
}

.gate_entry_header {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.gate_entry_header_img {
	width: 50%;
	height: 100px;
}

.gate_entry_login_details {
	width: 50%;
	text-align: end;
	padding-right: 50px;
	text-wrap: wrap;
	height: 100px;
	padding-top: 25px;
	/* font-size: 0.8rem; */
}

.welcome_info {
	font-size: 1.2rem;
}

#owner_info {
	color: rgb(215, 140, 2);
}

.navbar {
	height: 79vh;
	position: sticky;
	top: 4vh;
	border-radius: 8px;
	
}

.collapse {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	/* background-color: aquamarine; */
	width: 80%;
}

.logout {
	width: 100%;
}

.collapse .logout a {
	padding: 5px;
	padding-left: 15px;
	width: 100%;
	/* background-color: orange; */
	border-radius: 8px;
	font-weight: bold;
}

.navbar-nav {
	width: 100%;
	margin-top: 20px;
	height: 55%;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	gap: 5px;
}

.navbar-nav li {
	width: 100%;
	padding-left: 10px;
	border-radius: 15px 2px 15px 2px;
}

.navbar-nav li a {
	border-radius: 15px;
	padding-left: 10px;
}
 
 

.nav_item_home {
	background-color: rgba(250, 187, 69, 0.979);
}

 
 

 
 

 

.navbar-nav .nav-item:hover {
	background-color: rgb(226, 225, 225);
	/* Change to desired background color */
}

.logout:hover {
	color: rgb(190, 125, 3);
	border-radius: 8px;
	background-color: rgb(226, 225, 225);
	/* Change to desired background color */
}

.navbar-nav .nav-link:hover {
	color: rgb(190, 125, 3); /* Change to desired text color */
}

@media screen and (max-width: 1800px) {
	#KCE_img {
		width: 75%;
	}
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1200px) {
	 
}

@media screen and (max-width: 900px) {
	.navbar {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 400px) {
	.main_header {
		width: 70%;
	}
}
.navbar-nav button:hover {
    color: rgb(190, 125, 3);
    /* Change to desired text color */
}
#logout_btn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    width: 60%;
    
}